name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Validate build configuration
        uses: docker/build-push-action@v6
        with:
          call: check
          tags: sirtoby42/snapclient:latest
          context: "{{defaultContext}}:snapclient"
          build_from: ghcr.io/hassio-addons/base:17.2.5 
        
      - name: Check with homeassistant
        uses: home-assistant/builder@2025.03.0

